  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/dist/preline.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <!-- Primary Meta Tags -->
<title><%=title%></title>
<meta name="title" content="OniInsta - A Tool to Grab Instagram Password in Few Simple steps" />
<meta name="description" content="OniInsta Use phishing method to grab passwords. with no any mediator its directly send username and password on telegram " />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://oniinsta.cyclic.app/" />
<meta property="og:title" content="OniInsta - A Tool to Grab Instagram Password in Few Simple steps" />
<meta property="og:description" content="OniInsta Use phishing method to grab passwords. with no any mediator its directly send username and password on telegram " />
<meta property="og:image" content="https://oniinsta.cyclic.app/assets/img/logo.png" />

<!-- Twitter -->

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://oniinsta.cyclic.app/" />
<meta property="twitter:title" content="OniInsta - A Tool to Grab Instagram Password in Few Simple steps" />
<meta property="twitter:description" content="OniInsta Use phishing method to grab passwords. with no any mediator its directly send username and password on telegram " />
<meta property="twitter:image" content="https://oniinsta.cyclic.app/assets/img/logo.png" />

<!-- Meta Tags Generated with https://metatags.io -->
    
    
    <!-- <script src="/js/eruda.js"></script>
     -->
     <style>
      @font-face {
        font-family: "Poppins-Regular";
        src: url('/assets/fonts/Poppins-Regular.ttf');
        font-style:normal;
        font-weight:normal;
      }
      * {
        font-family: "Poppins-Regular";
      }
    </style>
  </head>