<!DOCTYPE html>
  <html lang="en">
  <%- include('../partials/head') -%>
    
  <body style="background-color:#EDF1F2">
     <%- include('../partials/header') -%>
     <%- include('../partials/about-section') -%>
    
    <%- include('../partials/footer.ejs') -%>

   </body>
 </html>